<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CTBC</string>
		<key>code</key>
		<string>12</string>
		<key>MNC</key>
		<string>15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brasil Telecom</string>
		<key>code</key>
		<string>14</string>
		<key>MNC</key>
		<string>16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vivo</string>
		<key>code</key>
		<string>15</string>
		<key>MNC</key>
		<string>06,10,11,23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Embratel</string>
		<key>code</key>
		<string>21</string>
		<key>MNC</key>
		<string>05,37</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Intelig</string>
		<key>code</key>
		<string>23</string>
		<key>MNC</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>GVT</string>
		<key>code</key>
		<string>25</string>
		<key>MNC</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oi</string>
		<key>code</key>
		<string>31</string>
		<key>MNC</key>
		<string>24,31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TIM</string>
		<key>code</key>
		<string>41</string>
		<key>MNC</key>
		<string>02,03,04,08</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sercomtel</string>
		<key>code</key>
		<string>43</string>
		<key>MNC</key>
		<string>07</string>
	</dict>
</array>
</plist>
